.blue-light-bg {
    background-color: #2069bd;
}
.blue-light-text {
    color: #2069bd;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
header, main, footer {
    /*padding-left: 300px;*/
    /*padding-left: 265px;*/
    padding-left: 286px;
}
main {
    flex: 1 0 auto;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
    .dropdownnotif {
        min-width: 192px;
    }
    .content-wrapper {
        padding: 1% 1% 1% 2.65% !important;
    }
}
@media only screen and (max-width: 1990px) {
    .dropdownnotif {
        min-width: 250px;
    }
    .content-wrapper {
        padding: 1% 2.56% 1% 3.65% !important;
    }
}
.dropdownnotif li a {
    font-size: .86em !important;
    color: #505050;
}
.dropdownnotif {
    max-height: calc(100% * 4);
    background-color: #f7f7f7;
}
.dropdownnotif::-webkit-scrollbar {
    width: .54em !important;
    height: 5% !important;
    background-color: #fbfbfb !important;
}
.dropdownnotif::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.dropdownnotif::-webkit-scrollbar-thumb {
    background-color: rgba(205, 202, 196, 0.91);
    outline: 2px solid #647382;
    border-radius: 12px;
}

.sidenav {
    /*width: 265px !important;*/
    width: 286px !important;
}

.sidenav::-webkit-scrollbar {
    width: .54em !important;
    height: 5% !important;
    background-color: #fbfbfb !important;
}

.sidenav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
/*.sidenav::-webkit-scrollbar-button {
    color: #22292f !important;
}*/
.sidenav::-webkit-scrollbar-thumb {
    background-color: rgba(205, 202, 196, 0.91);
    outline: 2px solid #647382;
    border-radius: 12px;
}

.sidenav li > a > [class^="mdi-"],
.sidenav li > a > i,
.sidenav li > a > i.material-icons,
.sidenav li > a li > a > [class*="mdi-"] {
    float: left;
    height: 46px;
    line-height: 46px;
    margin: 0 22px 0 0;
    width: 22px;
    color: rgba(0,0,0,.52);
}
#content-wrapper {
    padding-left: 1.46rem !important;
}

.material-icons.left {
    margin-right: 4px;
}

table {}
thead {
    background-color: #2069bd;
    font-family: 'Nunito', sans-serif !important;
    color: #e2e2e2;
}
thead tr th {
}
tbody {
    max-height: 360px;
    overflow-y: scroll;
}
table.striped > tbody > tr:hover {
    background-color: hsla(225.6, 69.2%, 69.4%, 0.5);
}
